<% if (post.prev || post.next){ %>
<nav id="article-nav">
    <% if (post.prev){ %>
    <div id="article-nav-newer" class="article-nav-title">
        <a href="<%- url_for(post.prev.path) %>">
            <% if (post.prev.title){ %>
            <%= post.prev.title %>
            <% } else { %>
            (no title)
            <% } %>
        </a>
    </div>

    <% } %>
    <% if (post.next){ %>
    <div  id="article-nav-older" class="article-nav-title">
        <a href="<%- url_for(post.next.path) %>">
            <%= post.next.title %>
        </a>
    </div>
    <% } %>
</nav>
<% } %>