#container {
    position: relative;
    min-height: 100%;
    #mobile-nav {
        display: none;
        .overlay {
            height: 110px;
            position: absolute;
            width: 100%;
            background: #4d4d4d;
            &.fixed {
                position: fixed;
                height: 42px;
                z-index: 99;
            }
        }
        #header {
            padding: 10px 0 0 0;
            .profilepic {
                display: block;
                position: relative;
                z-index: 100;
                margin-top 40px
            }
            .header-menu {
                height: auto;
                margin: 10px;
                ul {
                    width 100%
                    text-align: center;
                    cursor: default;
                }
                li {
                    display: inline-block;
                    margin: 3px;
                    min-width 45px
                    a {
                        font-size 14px
                        color #696969
                        background transparent
                    }
                }
            }
        }
    }
    .left-col {
        background: rgba(255, 255, 255, .85);
        width: 210px;
        position: fixed;
        opacity: 1;
        transition: all .2s ease-in;
        height: 100%;

        .overlay {
            width: 100%;
            height: 120px;
            background-color: black;
            position: absolute;
            opacity: 0.7;
        }
        .intrude-less {
            text-align: center;
            margin: 64px auto 0;
        }
        li:hover {
            background: none;
            font-weight: bold;
        }
        .header-nav {
            width: 100%;
            position absolute
            left 0
            top 0
            visibility  hidden
            transition: transform .3s ease-in;
            .icon-rss,.header-friends {
                display block
                height 35px
                line-height 35px
                text-align center
                color rgba(252,100,35,.5)
                border-top 1px solid rgba(255,255,255,.8)
                border-bottom 1px solid rgba(255,255,255,.8)
                transition 300ms
                i {
                    display inline-block
                    width 14px
                    height 14px
                    background url("/img/iconfont-RSS.png") no-repeat
                    opacity .5
                    margin-right 3px
                    transition 300ms
                }
                &:hover{
                    color rgba(252,100,35,1)
                    background rgba(255,255,255,.8)
                    i{
                        opacity 1
                    }
                }
            }
            .header-friends {
                margin-bottom: 5px;
                font-size: 14px;
                color:rgba(153,153,153,0.8);
                i{
                    height 18px
                    width 17px
                    background url("/img/iconfont-friend-link.png") 0 7px no-repeat
                }
                &:hover{
                    color rgba(153,153,153,0.8)
                    background rgba(255,255,255,.8)
                    i{
                        opacity 1
                    }
                }
            }
            .social {
                margin-top 10px
                text-align center
                li {
                    display: inline-block;
                    width: 99px;
                    height 30px
                    border-top 1px solid rgba(255,255,255,.8)
                    border-bottom 1px solid rgba(255,255,255,.8)
                    border-right 1px solid rgba(255,255,255,.8)
                    margin-bottom: 6px;
                    transition 300ms
                    //text-align: center;
                    a {
                        display block
                        font-size 12px
                        line-height: 30px;
                        color: rgba(153,153,153,.8)
                        margin-left 3px
                        i {
                            width 15px
                            height 15px
                            display inline-block
                            vertical-align middle
                            opacity .8
                        }
                        .left {
                            margin-right 3px
                        }
                        .right {
                            margin-left 3px
                        }
                        .sina {
                            background: url('/img/iconfont-xinlangweibo.png') no-repeat
                        }
                        .GitHub {
                            margin-top -3px
                            background: url('/img/iconfont-github.png') no-repeat;
                        }
                        .Email {
                            margin-top 2px
                            background: url('/img/iconfont-youjian.png') no-repeat;
                        }
                        .QQ {
                            margin-top -3px
                            margin-left 2px
                            background: url('/img/iconfont-QQ.png') no-repeat;
                        }

                    }
                    &:hover {
                        //font-size: 15px;
                        opacity: 1;
                        font-weight 100
                        background-color rgba(255,255,255,.8)
                        color #fff
                    }
                    &:nth-child(2n){
                        border-left 1px solid rgba(255,255,255,.8)
                        border-right 0
                        margin-left 5px
                    }

                }
            }
        }
}
.mid-col {
    position: absolute;
    right: 0;
    min-height: 100%;
    background: rgba(255, 255, 255, .8);
    left: 210px;
    width: auto;
}

@media screen and (max-width: 1040px) {

}

@media screen and (max-width: 800px) {

@import "_partial/mobile"
}
}
.header-author {
    text-align: center;
    margin: 15px 0;
    //font-family: Roboto, "Roboto", serif;
    font-size: 30px;
    transition: 0.3s;
}

#header {
    width: 100%;
    a {
        color: #696969;
        transition 300ms
        &:hover {
            color: #B0A0AA;
        }
    }
    .profilepic {
        text-align: center;
        display: block;
        border: 5px solid #fff;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: #fff;
        -webkit-transition: all 0.2s ease-out;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        line-height 108px
        img {
            position absolute
            top 10%
            left 10%
            width: 80%;
            height: 80%;
            border-radius: 50%;
            opacity: 0;
            -webkit-transition: all 0.2s ease-out;
            &.show {
                width: 100%;
                height: 100%;
                opacity: 1;
                top 0
                left 0
            }
        }
        &:hover {
            background: white;
            border: 5px solid #4eb516;
        }
}
.header-subtitle {
    width 76%
    margin 0 auto
    text-align: center;
    color: #999;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.header-menu {
    line-height: 28px;
    font-family: inherit;
    cursor: pointer;
    /*text-transform: uppercase;*/
    float: none;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    ul {
        width 100%
        li {
            height 40px
            cursor: pointer
            margin-bottom 5px
            .active {
                color rgba(255,255,255,1)
                background-color rgba(153,204,153,.8);
                font-weight 100
            }
            a {
                font-family "Microsoft YaHei", "微软雅黑", "arial", "Helvetica", "Hiragino Sans GB", "宋体", "Tahoma", "STHeiti"
                height 100%
                display block
                font-size: 16px;
                background-color rgba(255,255,255,.3)
                transition 300ms
                color #a7a7a7
                line-height 40px
                font-weight 100
            }
            &:hover,.active {
                text-indent 1em
                a {
                    color rgba(255,255,255,1)
                    background-color rgba(153,204,153,.8);
                    font-weight 100
                    text-indent 1em
                }
            }
        }
    }

}

.switch-area {
    position: relative;
    width: 100%;
    margin 20px 0
    overflow: hidden;
    font-size: 14px;
    .switch-wrap {
        width 100%
        position: relative;
    }
}

.turn-left {
    transform: translate(-100%, 0);
}

.switch-part {
    width: 100%;
}

.switch-part1 {
    float left
}

.switch-part2 {
    float left
    overlay-x: hidden;
    overflow-y: auto;
    max-height: 200px;
}

.switch-part3 {
    float left
    line-height: 30px;
    .switch-friends-link {
        margin-right: 9px;
        border-radius: 3px;
        padding: 5px;
        &:hover {
            background: #88acdb;
            color: #fff;
        }
    }
}



}

.duoshuo {
    padding: 0 40px;
}

#disqus_thread {
    padding: 0 40px;
}

.search {
    padding: 0;
    margin-top: 1px;
    font-family: inherit;
    border: 2px solid transparent;
    border-bottom: 2px solid lightgray;
    border-radius: 2px;
    width: 68%;
    opacity: .2;
    height: 18px;
    background: none;
    &:hover {
        opacity: 1;
        border: 2px solid lightgray;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    };
}
.scroll {
    z-index: 999;
    position: fixed;
    top: 61.8%;
    right: 0px;
    text-align: center;
    a {
        display: block;
        width: 29px;
        font-size: 28px;
        background: rgba(215, 216, 215, .4);
        border-bottom: 1px solid white;
        &:last-child {
            border-bottom: none;
        };
}
.fa {
    color: rgba(255, 255, 255, .8);
    padding-top: 6px;
    padding-bottom: 6px;
}

a:hover {
    background: rgba(147, 181, 224, .3);
    .fa {
        color: white;
    }
}

}
.hide-labels {
    position: fixed;
    left: 378px;
    top: 30px;
    font-size: .9em;
    padding: 1px;
    font-weight: bold;
    color: #666;
    background: none;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    opacity: .32;
    font-family: inherit;
    -webkit-appearance: none;
    &:hover {
        color: #88acdb;
        opacity: 1;
    }
}

.post-nav-button {
    position: fixed;
    left: 210px;
    top: 61.8%;
    text-align: center;
    a {
        display: block;
        width: 29px;
        font-size: 28px;
    }
    .fa {
        color: rgba(255, 255, 255, .8);
        padding-top: 16px;
        padding-bottom: 16px;
    }
    a:hover {
        background: rgba(147, 181, 224, .3);
        .fa {
            color: white;
        }
    }
}
//添加友情链接
.friends-link-box
    width 100%
    height 250px
    position fixed
    bottom 0
    left 0
    background rgba(0,0,0,.6)
    z-index 9999
    transition 300ms
    .close
        width 22px
        height 22px
        cursor pointer
        border-radius 100%
        border 1px solid #fff
        display block
        position absolute
        top 15px
        right 20px
        transition 300ms
        &:before
            content ''
            background url('../img/iconfont-guanbi.png') 5px 5px no-repeat;
            display block
            width 100%
            height 100%
        &:hover
            transform:rotate(180deg)
    .friends-tips
        color #fff
        margin-left 20px
        margin-top 20px
        span
            margin-left 10px
            vertical-align bottom
    .friends-link
        overflow hidden
        margin-left 20px
        margin-top 10px
        a
            display block
            float left
            height 30px
            line-height 30px
            border-bottom 2px solid transparent
            transition 300ms
            padding 0 10px
            color #fff
            &:hover
                border-bottom 2px solid #fff
.friends-link-box-show
    transform translateY(0)
.friends-link-box-hide
    transform translateY(300px)

.loading
    height 4px
    position fixed
    top 0
    left 0
    width 100%
    z-index 9999
    i
        transition 200ms
        width 0
        height 100%
        display block
        background #ff945c

.ie
    padding 30px 100px
    h1{
        font-size:40px;
        line-height:80px;
        font-weight:200;
        margin-bottom:10px;
    }
    h2{
        font-size:20px;
        line-height:25px;
        font-weight:500;
        margin:10px 0;
    }
    p {
        margin-bottom:10px;
        line-height: 30px;
    }
    .line{
        clear:both;
        width:100%;
        height:1px;
        overflow:hidden;
        line-height:1px;
        border:0;
        background:#ccc;
        margin:10px 0 20px;
    }
    img{
        width:34px;
        height:34px;
        border:0;
        float:left;
        margin-right:10px;
    }
    span{
        display:block;
        font-size:12px;
        line-height:12px;
    }
    .clean{
        clear:both;
    }
    .browser{
        padding:10px 0;
        li{
            width:180px;
            float:left;
            list-style:none;
        }
    }
